extends ./components/layout.pug

block title
  title case 0 data stream like a Twitter feed.
block content
  .left-box
    h2.title data stream like a Twitter feed.
    pre.desc
      | クリックイベントをStreamに変換し、そのStreamを監視するサンプル
      | イベントは時系列発生するのでそれを視覚的に表示する
    footer.footer-container
      a.next(href="./case1.html") next ≫
  .right-box
    .button-container
      span.button#btn Start
      span.button#clr Clear
    .feed-box
      .timeline#feed-box


  // build:js scripts/case0.bundle.js
  script(src='scripts/case0.bundle.js')
  // endbuild
